.button {
  display: flex;
  align-items: center;
  width: 200px;
  background: white;
}

.button:hover {
  background: rgb(165, 165, 165);
}

.buttonSelected {
  display: flex;
  align-items: center;
  background: grey;
  color: black;
  width: 200px;
}