.button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 175px;
  background: white;
  border: rgb(160, 160, 160) 1px solid;
}

.button:hover {
  background: rgb(165, 165, 165);
}

.buttonSelected {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: grey;
  color: black;
  width: 175px;
}

.button p {
  font-size: .8rem;
}