.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line {
  width: 90%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color:rgba(102, 102, 102, 0.932);
  border: 0 none;
}