.container {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.signIn {
  color: black;
  cursor: pointer;
  font-size: .8rem;
  margin-left: .3rem;
  font-family: 'Montserrat', sans-serif;
}

.signIn:hover {
  color: red;
}

.trendingSignin {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.trending {
  color: black;
  font-size: .8rem;
  text-decoration: none;
  margin-right: .3rem;
  font-family: 'Montserrat', sans-serif;
}

.trending:hover {
  color: red;
}

.divider {
  font-size: 1rem;
  color: black;
}
