@import url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap');

body {
  font-size: 10px;
  box-sizing: border-box;
  margin-top: 120px;
  background-color: #E6E5E1;
}

button {
  outline: none;
}

h1 {
  font-size: 3.3rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

/* p {
  color: orange;
} */