.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body a {
  text-decoration: none;
  color: white;
  transition: transform .2s;
  padding-right: .5rem;
  padding-left: .5rem;
  }

.body a:hover {
  transform: scale(1.2);
}

.body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

