.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: auto;
  border: solid black 1px;
  width: 400px;
  height: 500px;
  margin: .2rem;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: center;
  width: 400px;
  height: 250px;
}

.imageContainer p {
  margin-left: 3px; 
}

.imageContainer img {
  flex: 1;
  height: 100%;
}

.titleContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: .5rem;
}

.source {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  flex: 1;
}

.linkContainer {
  height: 2rem;
  width: 100%;
  background: red;
}

.linkContainer a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}
